// Base font
$base-font: "Josefin Sans";
$base-font__url: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
$base-font--size: 16px;
$base-font--optical-sizing: auto;
$base-font--style: normal;
